
	#container {
		font-size: medium;
		font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		background: lightgray;
    	width: 940px;
    	margin: 0px auto;
    	padding: 20px;
    	border: 1px solid #bcbcbc;
      }

 img{
  	float: left;
  	margin: 10px;
  }
    #header {      	
    	background: white;
    	width: 940px;
    	left-padding: 50px;
        margin-bottom: 0px;
        border: 2px solid #bcbcbc;
      }
     #content {
     	background: white;
        width: 580px;
        padding: 20px;
        margin-bottom: 20px;
        float: left;
        border: 1px solid #bcbcbc;
      }

 h1{
    width: 200px;
 	background: #4aaaa5;
 	padding: 10px;
 	margin: 0px;
 	text-align: center;
    color:white;
    font-family: 'Georgia', Times, Times New Roman, serif;

    }

     #nav{
		background: white;
		color: lightgray;
		font-size: 20;
		float: right;
	  }
      #side {
      	background: white;
      	font-family: 'Georgia', Times, Times New Roman, serif;
        width: 260px;
        padding: 20px;
        margin-bottom: 20px;
        float: right;
        border: 1px solid #bcbcbc;
      }

 h2{
   	color:#4aaaa5;
   	font-family: 'Georgia', Times, Times New Roman, serif;
    }

      #footer {
      	width: 940px;
      	background: #666666;
      	color: white;
      	font-size: x-small;
      	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
      	text-align: center;
        clear: both;
        padding: 20px;
       
      }