h1{
  font-size: 30;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  color: #4aaaa5;
}

h2,
h3{
  font-size: 15px;
  font-family: Georgia, Times, "Times New Roman", serif;

}

img{
  float: left;

}


#namebox{
  float: left;
  text-align: center;
  width: 200px;
  height: 50px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
  color: #fff;
  background: #4aaaa5;
}

nav{
  float: right;
  font-size: medium;
  font-family: Georgia, Times, "Times New Roman", serif;
  color: lightgray;
}

footer{
  padding: 30px;
  text-align: center;s
  font-size:small;
  color: #fff;
  background: #666;
  border-top: 5px solid #4aaaa5;
}

#head {
  width: 100%;
  color: #fff;
  background: #fff;
  border-bottom: 2px solid #ccc;

}


#content{
  width: 580px;
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

.footer{
  width: 100%;
  margin: 0;

}


